<div class="container col-lg-12 col-md-12 col-xs-12" ng-controller="MainController as main">
  <div class="heading col-lg-12 col-md-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-xs-12 text-center description">
      <h2><b>ParkDifferent</b></h2>
      <h2><b>Realtime parking application</b></h2>
      <div class="row details">
        <h3 style="color:white;">
          Share, schedule and trade parking spots to make parking easier.
        </h3>
      </br>
        <button ng-click="main.setState('/login')" class="btn btn-md btn-default">Check it out!</button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6  hidden-xs text-center button-area" id="screenshot-1"></div>
    <div class="col-lg-4 col-md-6  hidden-xs text-center button-area hidden" id="screenshot-2"></div>
  </div>
</div>
